main {
    padding-bottom: 3.125rem;
    background-image: linear-gradient(45deg, var(--gradient-1), var(--gradient-2), var(--gradient-3));
}

.rules-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding: 50px 0;
}

.rules-container h2 {
    margin-bottom: 3.125rem;
    text-align: center;
    font-size: 2.4rem;
}

.rules-container p {
    line-height: 1.8;
}
