main {
    height: 100%;
    padding-bottom: 3.125rem;
    background-image: linear-gradient(45deg, var(--gradient-1), var(--gradient-2), var(--gradient-3));
}

.category-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.category-title {
    margin-bottom: 3.125rem;
    text-align: center;
    font-size: 2.4rem;
}

/* hr style */

hr {
    border: 0;
    height: 0;
    width: 70%;
    margin: 0 auto;
    border-top: 1px solid var(--border-top-hr);
    border-bottom: 1px solid var(--border-bottom-hr);
}

/* category quiz card container */

.category-card-container {
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card-container {
    position: relative;
    width: 18.75rem;
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--gray-color);
    transition: 350ms transform ease;
}

.card-container:hover {
    transform: scale(1.05);
}

.card-img {
    border-radius: 10px;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-name {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--white-color);
}

/* category quiz card end */